/* CSS de cards */

.accordionLink {
  text-decoration: none;
  color: darkolivegreen;
}

.accordionLink:hover {
  color: darkslategrey;
}

.teamCard {
  transition: transform 0.5s ease-in;
}

.teamCard:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, .5) !important;
  transform: scale(1.2);
}

.NavLink {
  color: aliceblue;
  font-size: medium;
  text-decoration: dotted;
  padding: 10% 20px;
}

.NavLink:hover {
  color: lightslategray;
  text-decoration: none;
}

.NavLinkDark {
  color: lightslategray;
  font-size: medium;
  text-decoration: dotted;
}

.NavLinkDark:hover {
  color: rgb(0, 148, 153);
  text-decoration: none;
}

.MainNavLink {
  color: aliceblue;
  font-size: x-large;
  text-decoration: dotted;
}

.MainNavLink:hover {
  color: lightslategray;
  text-decoration: none;
}

.active-link {
  color: rgb(2, 238, 255);
}

/* CSS de titulos y eso */

h1 {
  color: #111;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0 0 0;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #111;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0 0 24px;
  padding: 0 30px;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 48px;
}

a {
  color: white;
  text-decoration: none;
}

.date {
  color: #111;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.date:before {
  border-top: 1px solid #111;
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  z-index: -1;
}

.author {
  color: #111;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 38px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.author:before {
  border-top: 1px solid #111;
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  z-index: -1;
}

.date span, .author span {
  background: #fdfdfd;
  padding: 0 10px;
  text-transform: uppercase;
}

.line {
  border-top: 1px solid #111;
  display: block;
  margin-top: 60px;
  padding-top: 50px;
  position: relative;
}

/* CSS del Footer */

.footer_a {
  background-color: rgb(0, 148, 153);
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}

.carouselHead {
  color: rgb(128, 228, 190);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.carouselP {
  color: rgb(247, 246, 231);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  margin: 0 0 24px;
  padding: 0 30px;
  text-align: center;
  text-transform: uppercase;
}